body {
  margin: auto;
  max-width: 1024px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f2f2f2;
  background-color: #080208;
  background-image: url("img/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  margin: auto;
  padding: 0 16px;
}

a { 
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: #f2f2f2;
} 

a:hover {
  color: #a91bfc; /* Цвет ссылки при наведении на нее курсора мыши */  
 }

.hero-image {
  margin: auto;
}

.hero-image .container {
  text-align: center;
}

.heading {
  margin: auto;
  font-size: 40px;
  line-height: 86px;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.user-image img {
  width: 300;
  background: -webkit-linear-gradient( rgb(236, 144, 101) 0%, rgb(60, 13, 71) 100%);
  padding: 5px;
  margin: auto;
  text-align: center;
  border-image-outset: 3px;
  border-radius: 50%;
}

.intro h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.code-examples p {
  background-color: #3a353a;
}

.gmail {
  list-style-image: url(files/gmail.png);
}

.telegram {
  list-style-image: url(files/telegram.png);
}











